body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-grid {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  border: 1px black solid;
  max-width: 200px;
}

button {
  width: 20px;
  height: 20px;
}

.Hit{
  background-color: green;
}

.Miss{
  background-color: red;
}

h1 {
  animation: App-logo-spin infinite 300ms linear;
  height: 40vmin;
  color: red;
  font-size: 80px;
}

@keyframes App-logo-spin {
  from {
    font-size: 20px;
    color: red;
  }
  to {
    font-size: 80px;
    color: blue;
  }
}
